.DS_STORE
**/.vscode/

src/.cache
src/.qt
src/.rcc
src/CMakeFiles
src/<NomeDel.pro>.app
src/cmake_install.cmake
src/CMakeCache.txt
src/CMakeLists.txt
src/compile_commands.json
src/Makefile
src/.qmake.stash

src/**/*.o
src/**/moc_*

build-*